.Background {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: #353744;
}

.App {
  border-radius: 20px;
  width: 30%;
  height: 90%;
  position: fixed;
  left: 35%;
  top: 5%;
  background-color: white;
}

.Nav {
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  position: absolute;
}

.Login-Container {
  width: 80%;
  left: 10%;
  position: fixed;
  top: 35%;
}

.User-Container {
  width: 94%;
  height: 90.5%;
  left: 3%;
  top: 2%;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.User-Notification-Notifications {
  height: 60%;
  overflow-y: inherit;
  overflow-x: hidden;
}

.User-Notification-Dues {
  overflow-x: scroll;
  overflow-y: hidden;
}

.-webkit-scrollbar {
  display: none;
}

.App-Bar {
  position: absolute;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  bottom: 0;
}
